<div class="container">
  <div class="left-side">
    <h3 class="uppercase">валюта</h3>

    <div class="currency-buttons">
      <ng-container *ngFor="let currency of currencies; index as i">
        <input type="radio"
               id="radio-{{i}}"
               name="radio"
               [(ngModel)]="selectedCurrency"
               [value]="currency">
        <label for="radio-{{i}}"
               class="currency-button">{{currency.name}}</label>
      </ng-container>
    </div>

    <div class="filters">
      <h3 class="uppercase">количество пересадок</h3>

      <div *ngFor="let filter of filters; index as i"
           class="filter-checkboxes">
        <input type="checkbox"
               id="checkbox-{{i}}"
               name="checkbox"
               class="filter-checkbox"
               [(ngModel)]="filter.checked"
               (change)="filterChanged(filter)">
        <label for="checkbox-{{i}}">{{filter.label}}</label>
      </div>
    </div>
  </div>

  <div class="main">
    <div *ngFor="let ticket of ticketsCopy"
         class="ticket">
      <div class="carrier">
        <ng-container [ngTemplateOutlet]="airlineLogo"
                      [ngTemplateOutletContext]="{carrier: ticket.carrier}"></ng-container>

        <button class="confirm-button">
          Купить
          <br>за {{ticket.price | currency: ticket: selectedCurrency}} {{selectedCurrency.sign}}
        </button>
      </div>

      <div class="flight-details">
        <div class="origin">
          <span class="time font-weight-bold">{{ticket.departure_time}}</span>
          <span class="font-weight-bold">{{ticket.origin}}, {{ticket.origin_name}}</span>
          <span class="date">{{ticket.departure_date}}</span>
        </div>

        <div class="stops">{{ticket.stops | stopsDeclension}}</div>

        <div class="destination">
          <span class="time font-weight-bold">{{ticket.arrival_time}}</span>
          <span class="font-weight-bold">{{ticket.destination_name}}, {{ticket.destination}}</span>
          <span class="date">{{ticket.arrival_date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #airlineLogo
             let-carrier="carrier">
  <img *ngIf="carrier === 'BA'"
       src="../assets/img/BA.png"
       alt="British Airlines">

  <img *ngIf="carrier === 'S7'"
       src="../assets/img/S7.png"
       alt="S7 Airlines">

  <img *ngIf="carrier === 'TK'"
       src="../assets/img/TA.png"
       alt="Turkish Airlines">

  <img *ngIf="carrier === 'SU'"
       src="../assets/img/UA.jpg"
       alt="Ural Airlines">
</ng-template>
